version: '3'
services:

  dash:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: NetworkLamp
    restart: unless-stopped
    environment:
      APP_NAME: "network_lamp"
      APP_ENV: "prod"
      APP_DEBUG: "False"
      APP_PORT: 8051
      MONGODB_DATABASE: network_lamp_db
      MONGODB_USERNAME: admindb
      MONGODB_PASSWORD: qwertyrud13
      MONGODB_HOSTNAME: mongodb
    ports:
      - 8051:8051
    depends_on:
      - mongodb
    networks:
      - frontend
      - backend

  mongodb:
    image: mongo:5.0
    container_name: mongodb
    restart: unless-stopped
    command: mongod --auth
    environment:
      MONGO_INITDB_ROOT_USERNAME: admindb
      MONGO_INITDB_ROOT_PASSWORD: qwertyrud13
      MONGO_INITDB_DATABASE: network_lamp_db
      MONGODB_DATA_DIR: /data/db
      MONDODB_LOG_DIR: /dev/
    ports:
      - 27017:27017
    volumes:
      - mongodbdata:/data/db
    networks:
      - backend

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge


volumes:
  mongodbdata:
    driver: local
  appdata:
    driver: local